  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','{{ site.gtm }}');</script>
    <!-- End Google Tag Manager -->
    <meta charset="UTF-8">

    <!-- responsive design voor mobiele apparaten-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">

    <title>
      {% if page.title == "Home" %}{{ site.title }} &middot; {{ site.tagline }}{% else %}{{ page.title }} &middot; {{ site.title }}{% endif %}
    </title>
    {% if site.googlefonts %}
    <!-- Load Google Fonts -->
    {% for font in site.googlefonts %}<link href="{{ font.url }}" rel="stylesheet">{% endfor %}
    {% endif %}
    <!-- CSS styling -->
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

    <!-- Iconen -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.baseurl }}/public/apple-touch-icon-precomposed.png">
    <link rel="shortcut icon" href="{{ site.baseurl }}/public/favicon.ico">

    <!-- RSS-feed -->
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ site.baseurl }}/atom.xml">
  </head>
