  @media (min-width: $large-breakpoint) {

    html {
      font-size: $large-font-size;
    }

    .masthead-title {
      font-size: 1.6rem;
      padding-bottom: 0;
    }

    .infodaan {
      margin-right: -55px;
      background-image: url('./public/daan.jpg');
      padding-right: 45%;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: top right;
      padding-bottom: 15px;
      margin-bottom: -35px;
    }

  }
