// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding: 2rem 1.5rem 3.35rem 1.5rem;
  background-image: linear-gradient(to right,  #ffb3ba,#ffdfba,#ffffba, #baffc9,#bae1ff);
  background-size: 100% 15px;
  background-repeat: no-repeat;
  background-position: top;
  border-bottom: 1px solid $gray-2;
  margin-bottom: 1.5rem;
}

.masthead-title {
  background-color: transparent;
  margin-top: 0;
  color: $gray-4;
  font-weight: bold;
  font-size: 2rem;
  letter-spacing: -1px;

  a {
    color: #e75d5d;
    float: left;
  }

  a:hover {
    color: #303030;
    text-decoration: none;
  }

  small a {
    color: #303030;
    display: inline;
    font-size: 75%;
    font-weight: 400;
    opacity: 0.6;
    margin-right: 20px;
  }

  .actief {
    background-image: linear-gradient(to bottom, #e75d5d 50%, transparent 50%);
    background-repeat: no-repeat;
    background-size: 100% 5px;
    opacity: 0.8;
    padding-bottom: 5px;
    background-position: bottom;
  }
}

.heading {
  max-width: 40rem;
  margin-left:  auto;
  margin-right: auto;
}

// mobiel menu

.site-nav {
  text-align: right;
  display: contents;
  margin-left: 15px;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    float: right;
    width: 36px;
    height: 46px;
    line-height: 0;
    text-align: center;
    margin-top: 15px;

    > svg path {
      fill: $gray-4;
    }
  }

  label[for="nav-trigger"] {
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }

  input ~ .trigger {
    clear: both;
    display: none;
  }

  input:checked ~ .trigger {
    display: block;
    padding-top: 10px;
    margin-bottom: -10px;
  }

}
