@media screen and (min-width: $medium-breakpoint) {

  .masthead {
    margin-right: calc(-100vw / 2 + 40rem / 2);
    background-image: linear-gradient(to right,  #ffb3ba,#ffdfba,#ffffba, #baffc9,#bae1ff 75%);
    background-size: 100% 25px;
    background-position: bottom;
    border: 0;
  }

  .masthead-title {
    padding-bottom: 0.8rem;
  }

  .masthead-title small a {
    margin: 10px 20px;
    display: inline;
  }

  .site-nav {
    position: inherit;
    float: left;
    border: none;
    display: inline;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

  }

  .lead {
    font-size: 1.25rem;
  }

}
