@media screen and (min-width: $medium-breakpoint) {

  .masthead-title {
    padding-bottom: 0.8rem;
  }

  .masthead-title small a {
    margin: 10px 20px;
    display: inline;
  }

  .site-nav {
    position: inherit;
    float: left;
    border: none;
    display: inline;

    label[for="nav-trigger"] {
      display: none;
    }

    .menu-icon {
      display: none;
    }

    input ~ .trigger {
      display: block;
    }

  }

  .lead {
    font-size: 1.25rem;
  }

}
