---

---

@import "minima";

html {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
  }

.home {
    font-size: 16px;
}

  @media (min-width: 38em) {
    html {
      font-size: 20px;
    }
    .home {
        font-size: 20px;
    }
  }


.site-header {
    border: 0;
    padding-top: 25px;
    background-image: linear-gradient(to right, #fefefe 50%, #bae1ff 51%);
    background-size: 100% 25px;
    background-position: center bottom;
    background-repeat:no-repeat;
}

.site-header .wrapper {
    padding-bottom: 40px;
    background-image: linear-gradient(to right,  #ffb3ba,#ffdfba,#ffffba, #baffc9,#bae1ff);
    background-size: 100% 25px;
    background-position: center bottom;
    background-repeat:no-repeat;
}

a.site-title {
    font-weight: bold;
    font-size: 2em;
}

a.site-title:hover {
    color: #e75d5d;
    text-decoration: none;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    font-weight: bold;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
  }
h2 {
    font-size: 2rem;
}

.home h2 a {
    color: #313131;
}

.home p {
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: justify;
  }